<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".app.CustomApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/billsharelogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/billsharelogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinMVPPractice"
        tools:targetApi="31">
        <activity
            android:name=".screens.welcome.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".screens.dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".screens.addbill.AddBillActivity"
            android:exported="false" />
        <activity
            android:name=".screens.allbills.AllBillsActivity"
            android:exported="false" />
        <activity
            android:name=".screens.groups.GroupsActivity"
            android:exported="false" />
        <activity
            android:name=".screens.creategroup.CreateGroupActivity"
            android:exported="false" />
        <activity
            android:name=".screens.notifications.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".screens.splitcalculator.SplitCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".screens.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".screens.billdetails.BillDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".screens.groupdetails.GroupDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".screens.profile.ProfileActivity"
            android:exported="false" />
    </application>

</manifest>